* {
    box-sizing: border-box;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    display:grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    text-align: center;
}

.header { 
    background-color: rgba(3, 59, 6, 0.3); 
    grid-column: 1/ -1;
    height: 350px;
}

.search { 
    background-color: rgba(94, 160, 247, 0.3); 
    grid-column: 1 / -1;
    height: 45px; 
}

main{
    grid-column: 3 / 7;
}

.overview {
    background-color: rgba(128, 193, 79, 0.3);
    height: 400px;
}

.footer {
    background-color: rgba(94, 160, 247, 0.3);
    grid-column: 1/ -1;
    height: 45px;
}