* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: verdana, arial, sans-serif;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: georgia, serif;
    grid-row: 1 / 2;
    grid-column: 2/ -2;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header h1 {
    line-height: 140%;
    padding: 0.5rem;
    background-image: url(utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

nav {
    font-weight: bold;
    background-color: #424242;
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #BA1C21
}

h2{
    color: #424242;
    font-family: georgia, serif;
}

h3 {
    color: #003058;
}

dt{
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff;
}

main img {
    float: right;
    padding-left: 2rem;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

}

#bluebar {
    background-color: #003058;
    grid-row: 1/2;
    grid-column: 1/9;
}

#greybar {
    background-color: #424242;
    grid-row: 2/3;
    grid-column: 1/9;
}

#homehero, #studenthero, #facultyhero, #alumnihero {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1 / 9;
}

#homehero {
    background-image: url(homehero.jpg);
}

#studenthero {
    background-image: url(studenthero.jpg);
}

#facultyhero {
    background-image: url(facultyhero.jpg);
}

#alumnihero {
    background-image: url(alumnihero.jpg);
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}

@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,150px)) minmax(0px, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero, #studenthero, #facultyhero, #alumnihero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
}


@media only screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
    }

    nav {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    #homehero, #studenthero, #facultyhero, #alumnihero {
        display: none;
    }

    form {
        grid-template-columns: 1fr;
    }

    label {
        text-align: left;
    }

    input, textarea {
        width: 100%;
    }

}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    gap: 0.75rem;
    width: 100%;
}

input, textarea{
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}

label {
    padding: 10px;
    text-align: right;
}

#mySubmit{
    width: 10rem;
    grid-column: 2/3;
}
